<form (submit)="submit($event)">
  <div class="form-field">
    <label for="name">Name</label>
    <input id="name" name="name" type="text" [formControl]="name" />
    @if(name.invalid && (name.dirty || name.touched)){
    <div class="error">this field is required</div>
    }
  </div>

  <div class="form-field">
    <label for="hp">HP</label>
    <input id="hp" name="hp" type="number" [formControl]="hp" />
    @if(hp.invalid && (hp.dirty || hp.touched)){
    <div class="error">this field is required</div>
    }
  </div>
  <button type="submit" [disabled]="name.invalid">Save</button>
</form>
